html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #E4E3E8;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Thin.eot");
  src: url("../fonts/PFAgoraSansPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Thin.woff") format("woff"), url("../fonts/PFAgoraSansPro-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Light.eot");
  src: url("../fonts/PFAgoraSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Light.woff") format("woff"), url("../fonts/PFAgoraSansPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Medium.eot");
  src: url("../fonts/PFAgoraSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Medium.woff") format("woff"), url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Bold.eot");
  src: url("../fonts/PFAgoraSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Bold.woff") format("woff"), url("../fonts/PFAgoraSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
}
.header {
  position: sticky;
  display: flex;
  background-color: #263640;
  justify-content: space-between;
  align-items: center;
  padding: 24px 139px;
  color: white;
  font-family: "PFAgoraSansPro";
}
.header__pages {
  display: flex;
  gap: 37px;
}
.header__link {
  text-decoration: none;
  color: white;
  letter-spacing: 7%;
}
.header__phone {
  text-decoration: none;
  color: white;
}

.slogan {
  position: relative;
  color: #263640;
  font-family: "PFAgoraSansPro";
}
.slogan__background {
  position: absolute;
  background-color: #E4E3E8;
  right: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.slogan__title {
  position: relative;
  margin-left: 135px;
  font-size: 60px;
  width: 608px;
  padding-top: 119px;
  line-height: 1.2;
}
.slogan__description {
  background-color: rgba(228, 227, 232, 0.8);
  border-radius: 10px;
  padding: 20px;
  color: #7591A3;
  font-size: 16px;
  width: 427px;
  margin-left: 135px;
  margin-top: 31px;
  line-height: 1.5;
  position: relative;
}
.slogan__see-work-btn {
  cursor: pointer;
  margin-top: 105px;
  margin-left: 135px;
  margin-bottom: 86px;
  padding: 19px 56px;
  background-color: #263640;
  color: white;
  font-size: 20px;
  border-radius: 8px;
}

.achievements {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 193px;
  padding-top: 153px;
  padding-bottom: 148px;
  font-family: "PFAgoraSansPro";
}
.achievements__title {
  font-size: 48px;
  width: 423px;
  margin-left: 135px;
}
.achievements__subtitle {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 100;
  margin-left: 135px;
}
.achievements__item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.achievements__item {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-bottom: 37px;
  align-items: center;
}
.achievements__img {
  grid-column: 1;
  grid-row: 1;
  margin-right: 10px;
}
.achievements__num {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 32px;
}
.achievements__description {
  grid-column: 2;
  font-size: 16px;
  margin-top: 30px;
  grid-row: 1;
  font-weight: 100;
}

.partners {
  font-family: "PFAgoraSansPro";
  background-color: white;
  padding-bottom: 150px;
}
.partners__title {
  font-size: 32px;
  text-align: center;
}
.partners__container {
  display: flex;
  justify-content: space-between;
  margin: auto 135px;
  margin-top: 47px;
}
.partners__logo {
  padding: 32px 37px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.activity {
  background-color: white;
  font-family: "PFAgoraSansPro";
  padding-bottom: 163px;
}
.activity__card-container {
  margin: auto 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity__card {
  width: 317px;
}
.activity__img {
  width: 317px;
  height: 333px;
  -o-object-fit: cover;
     object-fit: cover;
}
.activity__title {
  margin: 18px auto;
  font-size: 24px;
}
.activity__description {
  margin-bottom: 24px;
  font-weight: 100;
  letter-spacing: 10%;
  line-height: 1.5;
}
.activity__link {
  color: #FF9900;
  font-weight: 100;
  text-decoration: none;
  align-items: center;
}
.activity__arrow {
  align-items: center;
}

.footer {
  background-color: #263640;
  font-family: "PFAgoraSansPro";
  width: 100vw;
  height: 280px;
}
.footer__logo {
  margin: 60px 135px;
}
.footer__extra-img {
  position: absolute;
  right: 0;
}
.footer__pages-container {
  margin: auto 135px;
  display: flex;
  gap: 24px;
  font-size: 22px;
}
.footer__link {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */