.footer {
   background-color: #c21919;
   font-family: 'PFAgoraSansPro';
   width: 100%;
   height: 280px;
   padding-left: 20px;
   padding-right: 20px;        
   overflow: hidden;
   position: relative;          
   box-sizing: border-box;    
   border-top: 5px solid #000000;
   @media screen and (max-width: 992px) {
      height: fit-content;
   }

   &__logo {
      margin: 60px 115px;
      height: 80px;
      width: 150px;
      @media screen and (max-width: 992px) {
         margin: 5vw 115px;
         margin-left: 5vw;
         
      }
   }

   &__extra-img {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;             
      max-width: 100%;         
      height: auto;
      pointer-events: none;
      z-index: 0;
   }

   &__pages-container {
      position: relative;     
      z-index: 1;
      margin: auto 115px;
      padding-bottom: 60px;
      display: flex;
      gap: 24px;
      font-size: 22px;
      
      @media screen and (max-width: 992px) {
         margin-left: 5vw;
         margin-right: 5vw;
         padding-bottom: 5vw;
      }
      
      @media screen and (max-width: 540px) {
         flex-direction: column;
      }
   }

   &__link {
      text-decoration: none;
      color: white;
      white-space: nowrap;
      cursor: pointer;
      width: fit-content;
      transition: color 0.3s;
      
      &:hover {
         color: #FF9900;
      }
   }

   &__copyright{
      color: white;
      margin: auto 115px;
      margin-bottom: 30px;
      @media screen and (max-width: 992px) {
         margin-left: 5vw;
         margin-right: 5vw;
         
      }
      
      @media screen and (max-width: 540px) {
         flex-direction: column;
      }
   }

   &__bar-link {
      text-decoration: none;
      color: white;
      letter-spacing: 7%;
      margin-top: 15px;
      font-size: 16px;
      @media screen and (max-width: 992px) {
         margin-top: 1vw;
      }
   }
}